/* #293462  #1CD6CE */
@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: var(--secondary-color);

}

:root{
    --secondary-color:#293462;
    --primary-color:#1CD6CE; 
    --header:#FEDB39;
    --headtext:#D61C4E;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background-color: var(--header);
    color: var(--headtext);
    position: fixed;
    width: 90%;
}

.navs>a{
    padding: 20px;
    text-decoration: none;
    color: var(--headtext);
    font-weight: bold;
}

.logo{
    font-family: 'Rochester', cursive;
    font-size: 30px;
    font-weight: bold;
}
.about{
    color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
    padding-left: 80px;
    text-align: justify;
}
.hey{
    font-size: 28px;
    margin-bottom: 0;
    padding-left: 16px;
}

.minah{
    font-size: 6rem;
    font-weight: bolder;
    margin-top: 0;
    color: var(--header);
    margin-bottom: 0;
}
.whatIDo{
    margin-top: 0;
}
.right{
    padding-right: 30px;
}

.myself{
    color: var(--primary-color);
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 20px;
    margin-top: 30px;
    text-align: center;
}

.me>img{
    border-radius: 100%;
}
.student{
    line-height: 35px;
}

.write>h1{
    text-decoration: dotted;
}